.header {
    background: #1e1e2f;
    border-radius: 30px;
    padding: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.regions {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 4px;
}

.header div {
    padding: 6px 10px;
    border-radius: 50px;
    background-color: #f0f0f5;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 120px;
    min-width: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    height: 35px;
}

.header div img {
    height: 25px;
    margin: 0;
    display: block;
    transition: transform 0.3s ease;
}

.header div a {
    text-decoration: none;
    color: #1e1e2f;
    font-weight: 500;
    flex-grow: 1;
    text-align: left;
    transition: color 0.3s ease;
}

.header div:hover {
    background-color: #b4b5c9;
}

.header div:hover img {
    transform: scale(1.1);
}

.header div.active {
    background: #5072c2;
}

.header div.active a {
    color: white;
}

/* Медиа-запрос для планшетов и маленьких экранов */
@media screen and (max-width: 800px) {
    .header {
        justify-content: center;
    }

    .header div {
        min-width: 70px;
        padding: 6px 8px;
    }
}

@media screen and (max-width: 480px) {
    .header div {
        min-width: 60px;
        padding: 4px 6px;
        }
}

